.navbar-nav{
    float: right;
    position: absolute;
    right: 20px;
}
.display-3{
    color: aliceblue;
}
.isijumbotron{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.jarak{
    margin-bottom: 50px;
}

.bayangan{
    text-shadow: 4px 4px 4px gray;
}
.skrol{
    scroll-behavior: smooth;
}
.tabel {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}
  